.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent background */
    padding: 20px;
    color: white; /* Text color */
}

.carousel-caption h1 {
    font-size: 2rem; /* Adjust the font size as needed */
}

.carousel-caption p {
    font-size: 1.25rem; /* Adjust the font size as needed */
}

.carousel-caption a.btn {
    margin-top: 20px; /* Adjust the margin-top as needed */
}
