body {
    background-color: wheat;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.search-card-result {
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.more-offers {
    padding: 20px;
}